{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Registration :-)</title>
  </head>
  <body>
  <form action="/show/" method="post">
      {% csrf_token %}
        <table border="0" align="center" width=90%>
             {% include 'index.html'%}
        </table><br><br>

        <table align="center" border="0" >
            <tr>
                <th style="color: #fe6500"><br>Employee ID  :</th>
                <th><br><input placeholder="Enter Employee ID" type="text" maxlength="20" name="t22" required style="color: #1b35e4"></th>
            </tr>
            <tr>
                <th style="color: #fe6500">
                    SSC marks memo :
                </th>
                <th><br><input  type="file" name="t15" required style="color: #1b35e4"></th>
            </tr>
            <tr>
                <th style="color: #fe6500">
                    Intermideate marks memo :
                </th>
                <th><br><input  type="file" name="t16"  style="color: #1b35e4"></th>
            </tr>
            <tr>
                <th style="color: #fe6500">
                    Diploma 1 marks memo :
                </th>
                <th><br><input  type="file" name="t17"  style="color: #1b35e4"></th>
            </tr>
            <tr>
                <th style="color: #fe6500">
                    Diploma 2 marks memo :
                </th>
                <th><br><input  type="file" name="t18"  style="color: #1b35e4"></th>
            </tr>
            <tr>
                <th style="color: #fe6500">
                    Diploma 3 marks memo :
                </th>
                <th><br><input  type="file" name="t19"  style="color: #1b35e4"></th>
            </tr>
            <tr>
                <th style="color: #fe6500">
                    Graduation marks memo :
                </th>
                <th><br><input  type="file" name="t20" required style="color: #1b35e4"></th>
            </tr>
            <tr>
                <th style="color: #fe6500">
                    Post graduation marks memo :
                </th>
                <th><br><input  type="file" name="t21"  style="color: #1b35e4"></th>
            </tr>
            <tr style="text-align: center">
                <td colspan="2"><br><button type="submit" class="btn btn-primary">Next</button></td>
            </tr>
        </table>

  <br><br><br><br>
      </form>
    <br><br>
      {% if msg %}
      <table align="center">
          <tr style="text-align: center ; font-family: 'Adobe Devanagari',serif;color: green">
              <th>
                {{ msg }}
              </th>
          </tr>
      </table>
      {% endif %}



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>